---
layout: default
---

<header id="main">
  <div class="title-padder">
    {% unless page.hide_title %}

      <h1 id="{{ page.title | cgi_escape }}" class="title">{{ page.title }}</h1>

      <!-- post meta -->
      <div class="post-meta">
        <time class="meta-published"
              datetime="{{ page.date | date_to_xmlschema }}">
          {{ page.date | date: "%B %e, %Y" | upcase }}
        </time>

        {% if page.last_updated %}
          <time class="meta-updated"
                datetime="{{ page.last_updated | date_to_xmlschema }}">
            Updated {{ page.last_updated | date: "%B %e, %Y" }}
          </time>
        {% endif %}
      </div>

    {% else %}
      <div class="feature-image-padding"></div>
    {% endunless %}
  </div>
</header>
